<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.cdt.make.ui"
            class="maketargeter.MainView"
            icon="icons/main.gif"
            id="MakeTargeter.view"
            name="Make Targeter"
            restorable="true">
      </view>
   </extension>

</plugin>
